/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(disconnected.png);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 553px;
    height: 90px;
    position: absolute;
    left: 113px;
    top: 12px;
}

.ds4 .trigger {
    width: 97px;
    height: 100%;
    background: url(triggers.png);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds4 .bumper {
    width: 97px;
    height: 22px;
    background: url(bumper.png) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 554px;
    height: 23px;
    left: 114px;
    top: 107px;
}

.ds4 .bumper.pressed {
    opacity: 1;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.ds4 .touchpad.pressed {
    background: url(touchpad.png) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 369px;
    bottom: 218px;
}

.ds4 .meta.pressed {
    background: url(meta.png) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svg);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .back, .ds4 .start {
    background: url(start.png);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    position: absolute;
    left: -06px;
    top: 2px;
    /* width: 28px; */
}

.ds4 .start {
    position: absolute;
    left: 307px;
    top: 2px;
    /* width: 28px; */
    background-position: 28px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(Face.png);
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    top: 112px;
    left: 31px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 58px;
    right: 31px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 58px;
    right: 137px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 31px;
    top: 1px;
}

.ds4 .sticks {
    position: absolute;
    width: 356px;
    height: 105px;
    top: 301px;
    left: 218px;
}

.ds4 .stick {
    position: absolute;
    background: url(sticks.png);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.ds4 .face {
    background: url(dpad.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 36px;
    height: 52px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 52px;
    height: 36px;
}

.ds4 .face.up {
    left: 44px;
    top: 5px;
    background-position: -37px 0px;
}

.ds4 .face.down {
    left: 43.5px;
    bottom: -1px;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 47px;
    left: 0px;
    background-position: 104px 0;
}

.ds4 .face.right {
    top: 47px;
    right: 02px;
    background-position: 52px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}


/*END PS4 Controller Styling*/
